pipeline/Azure Data Bricks.json
{
	"name": "Azure Data Bricks",
	"properties": {
		"activities": [
			{
				"name": "Notebook1",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/labuser@thenewtrends.in/Main Notebook",
					"baseParameters": {
						"Array": {
							"value": "@if(equals(variables('Randomnumber'),''), 'Variable not set', 'Value set')",
							"type": "Expression"
						},
						"Sum": {
							"value": "@if(equals(variables('sum'),''),'8',variables('sum'))",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Notebook1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "sum",
					"value": {
						"value": "@string(activity('Notebook1').output.runOutput['exit_code'])",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable1_copy1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Notebook1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Randomnumber",
					"value": {
						"value": "@activity('Notebook1').output.runOutput['random_number']",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"sum": {
				"type": "String"
			},
			"Randomnumber": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}